<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="~{partials/partials :: head (title='All Ads')}"></th:block>
</head>

<body>

<nav th:replace="~{partials/partials :: navbar}">
</nav>

<header th:insert="~{partials/partials :: header (heading='All Ads')}"></header>

<div class="container-fluid">

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Username</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ad : ${ads}">
            <td><a th:href="@{|/ads/${ad.id}|}">[[${ad.title}]]</a></td>
            <td th:text="${ad.description}"></td>
            <td th:text="${ad.user.username}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:insert="~{partials/partials :: footer}" class="ads-page-footer ads-color-french-violet"></footer>

<th:block th:replace="~{partials/partials :: scripts}"></th:block>
<script src="/js/ad.js"></script>
</body>
</html>